h1 {
    font-size: 50px;   /*tamano de la letra */
    color: brown;       
    background-color: aquamarine;   /*color de fondo*/
    padding: 100px;             /*espaciado interno*/

    margin: 100px;              /*espaciado externo*/
}
p{
    font-size: 30px;
    text-align: center;      /*alineado del texto*/
    font-weight: bold;        /*colocar negrilla*/
}
h2{
    text-align: left;
}
a{
    font-size: 50px;
    color: blue;
    text-align: center;

}
body{
    background-color: aqua;
}