h1 {
    font-size: 50px;   /*tamano de la letra */
    color: brown;       
    background-color: aquamarine;   /*color de fondo*/
    padding: 25px;             /*espaciado interno*/

    margin: 25px;              /*espaciado externo*/
}
p{
    font-size: 20px;
    text-align: center;      /*alineado del texto*/
    font-weight: bold;        /*colocar negrilla*/
}
h2{
    text-align: left;
}
a{
    font-size: 30px;
    color: blue;
    text-align: center;

}
body{
    background-color: rgb(215, 251, 251);
}
li{
    font-size: 20px;
   
    
}