header{
    position: fixed;
    width: 100%;
    height: 70px;  
    background-color: #031a1c;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    padding: 15px 10px;
}
nav ul{
    margin: 0 40px;
}
nav li{
    display: inline;
}
nav li a{
    font-size: 1em;
    text-decoration: none;
    line-height: 70px;
    padding: 10px 20px;
    color: rgb(243, 240, 240);
    background-color: rgb(2, 13, 11);}
    

h1 {
    font-size: 50px;   /*tamano de la letra */
    color: rgba(171, 247, 239, 0.741);       
    background-color: rgb(3, 21, 23);   /*color de fondo*/
    padding: 10px;             /*espaciado interno*/

    margin: 25px;              /*espaciado externo*/
}
p{
    font-size: 20px;
    text-align: center;      /*alineado del texto*/
    font-weight: bold;        /*colocar negrilla*/
    color: rgba(138, 244, 233, 0.751);
    padding-left: 160PX;
    padding-right: 160PX;
}
h2{
    text-align: left;
    color: rgb(245, 101, 17);
}
h3{
    display: flex;
    color: rgb(245, 101, 17);
    justify-content: center;
    background-color: #031a1c9d;
    padding: 7px;
}
a{
    font-size: 30px;
    color: rgb(245, 101, 17);
    text-align: center;
   

}
body{
    
    background-color: rgb(6, 78, 78);
}
li{
    font-size: 20px;
    color: rgba(138, 244, 233, 0.751);
}

.juegos{
    font-size: 35px;   /*tamano de la letra */
    color: rgba(171, 247, 239, 0.741);       
    background-color: rgb(3, 21, 23);   /*color de fondo*/
    padding: 10px;             /*espaciado interno*/

    margin: 25px;      
}
.supercell {
    font-size: 20px;   /*tamano de la letra */
    color: rgba(248, 253, 252, 0.741);       
    background-color: rgb(3, 21, 23);   /*color de fondo*/
    padding: 10px;             /*espaciado interno*/

    margin: 25px; 
}
.historia {
    font-size: 20px;   /*tamano de la letra */
    color: rgb(248, 253, 252);       
    background-color: rgba(23, 2, 162, 0.162);   /*color de fondo*/
    padding: 10px;             /*espaciado interno*/
    margin: 25px; 
}
footer{
    display: flex;
    background-color: #0a0a0a;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
}
footer li{
    font-size: 25 px;
    display: inline;
    padding: 0px 20px;
    color: aliceblue;
}
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 100, 100);
}
.txt {
    margin-right: 90px;
}
.imagen {
    width: 650px;
    height: 450px;
}
.contenedor2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 100, 100);
    margin-top: 20px;
    margin-bottom: 20px;
}
.txt1 {
    margin-left: 90px;
}

/*juegos*/

.contenedorj {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 100, 100);
    margin: 10px;
}
.txtj {
    margin: 1px;
}
.imagenj {
    width: 650px;
    height: 450px;}
.pj {
    font-size: 20px;
    text-align: center;      /*alineado del texto*/
    color: rgba(138, 244, 233, 0.751);  
}

